/* Overriding container-fluid to make page more immersive and get rid of margins */
.container-fluid {
    width:100%;
    max-width:none;
    padding-left:0;
    padding-right:0
}

/* Styles for navigation bar and image intro */
.navigation-bar {
    background-color: #450000;
    color: #f9f9f9;
}

.image-intro {
    background-color: #300000;
    color: #f9f9f9;
    padding: 5px;
}

.smooth-image {
    border-radius: 10%;
    padding: 10px;
    width: 800px;
    height: auto;
}

/* Styles for login and registration */
.login-register {
    background-color: #3c0000;
    color: #f9f9f9;
    height: 100%;
}

.fill {
    min-height: 100vh;
    height: 100%;
}
