{% extends "base.html" %}

{% block title %}
All Bets
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1>All Bets</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Bet Option</th>
                <th>Bet Amount</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for bet in bets %}
            <tr>
                <td>{{ bet["username"] }}</td>
                <td>{{ bet["bet_option"] }}</td>
                <td>${{ "%.2f"|format(bet["bet_amount"]) }}</td>
                <td>{{ bet["timestamp"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
