{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div class="container-fluid image-intro px-4 text-center">
    <div class="row">
        <div class="col image-intro">
            <h1><b>Harvard-Yale Predictions</b></h1>
            <h4>Your #1 spot to bet on The Game</h4>
            <div class="row">
                <div class="col">
                    <h3><b>{{ 3 }}</b> avid Harvard-Yale fans</h3>
                </div>
            </div>
        </div>
        <div class="col image-intro">
            <img src="./static/harvardFootball.jpg" class="smooth-image" alt="harvard-football">
        </div>
        {% for user in data %}
        <div class='post'>
            <p>{{ user['created'] }}</p>
            <p>{{ user['username'] }}
            <p>
            <p>{{ user['password'] }}</p>
            <p>{{ user['cash'] }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}