{% extends "base.html" %}

{% block title %}
Landing
{% endblock %}

{% block main %}

<div class="container-fluid image-intro px-4 text-center">
    <div class="row">
        <div class="col image-intro">
            <h2>Harvard-Yale Predictions</h2>
            <p>Bet on Harvard-Yale</p>
        </div>
        {% for user in data %}
        <div class='post'>
            <p>{{ user['username'] }}</p>
            <p>${{ user['cash'] }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}