{% extends "base.html" %}

{% block title %}
Landing
{% endblock %}

{% block main %}

<div class="container-fluid image-intro px-4 text-center">
    <div class="row">
        <div class="col image-intro">
            <h1>Harvard-Yale Sportsbook Personal Dashboard</h1>
            <h2>Welcome back, {{ data['username'] }}.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./static/red_football.jpg" alt="Football_player_wearing_red">
                <div class="card-body">
                <p class="card-text">{{ data['username'] }}</p>
                <p class="card-text">Balance: ${{ data['cash'] }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <h3 class="centered">Practice: Event Contract Markets</h3>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./static/football_card.jpg" alt="Football_player_wearing_red">
                        <div class="card-body">
                        <p class="card-text">Stadium temperature below 50 Degrees Fahrenheit?</p>
                        <p class="card-text">Current Price: 63&cent</p>
                        </div>
                        <form action="/eventcontract" method="post">
                            <div class="mb-2">
                                <input class="form-control mx-auto w-auto" name="contract-count" placeholder="Contract Count" type="username">
                            </div>
                            <button class="btn btn-primary login-register-button" type="submit">Buy</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./static/football_card.jpg" alt="Football_player_wearing_red">
                        <div class="card-body">
                        <p class="card-text">More than 10 touchdowns scored by both teams?</p>
                        <p class="card-text">Current Price: 32&cent</p>
                        </div>
                        <form action="/eventcontract" method="post">
                            <div class="mb-2">
                                <input class="form-control mx-auto w-auto" name="contract-count" placeholder="Contract Count" type="username">
                            </div>
                            <button class="btn btn-primary login-register-button" type="submit">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./static/football_card.jpg" alt="Football_player_wearing_red">
                        <div class="card-body">
                        <p class="card-text">Yale wins Harvard-Yale 2025?</p>
                        <p class="card-text">Current Price: 3&cent</p>
                        </div>
                        <form action="/eventcontract" method="post">
                            <div class="mb-2">
                                <input class="form-control mx-auto w-auto" name="contract-count" placeholder="Contract Count" type="username">
                            </div>
                            <button class="btn btn-primary login-register-button" type="submit">Buy</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./static/football_card.jpg" alt="Football_player_wearing_red">
                        <div class="card-body">
                        <p class="card-text">More than one fumble by Harvard?</p>
                        <p class="card-text">Current Price: 22&cent</p>
                        </div>
                        <form action="/eventcontract" method="post">
                            <div class="mb-2">
                                <input class="form-control mx-auto w-auto" name="contract-count" placeholder="Contract Count" type="username">
                            </div>
                            <button class="btn btn-primary login-register-button" type="submit">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}