{% extends "base.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<!-- Idea of register taken from Finance PSET, follows same idea and logic-->
<div class="row login-register fill">
    <div class="col">

    </div>
    <div class="col fill">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username"
                    placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary login-register-button" type="submit">Log In</button>
        </form>
    </div>
    <div class="col">

    </div>
</div>

{% endblock %}